<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecomendServlet</servlet-name>
    <servlet-class>com.rcd.servlet.RecomendServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>RecomendServlet</servlet-name>
    <url-pattern>/RecomendServlet</url-pattern>
  </servlet-mapping>

	<resource-ref>
	<res-ref-name>jdbc/movie</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
